raw_data/
results/*.bam
results/*.bam.bai
results/*.sam
*.sra
*.fastq
Miniconda3*.sh
ref/*.fna
ref/*.fna.gz
ref/*.amb
ref/*.ann
ref/*.bwt
ref/*.pac
ref/*.sa
ref/*.fai
results_300k/
raw_data_300k/
qc_300k/
trimmed_data_300k/

# Raw sequencing data
*.fastq
*.fastq.gz
*.fq
*.fq.gz

# Alignment files
*.sam
*.bam
*.bai
*.cram
*.crai

# Variant calling intermediate files
*.bcf
*.bcf.csi

# Compressed VCF files
*.vcf.gz
*.vcf.gz.tbi

# Reference genome and annotation data
ref/
data/

# FastQC compressed files
*.zip

# SnpEff generated database/configuration files
snpEff_genes.txt
snpEff_summary.html

# Large structural files
*.pdb
