raw_data/
results/*.bam
results/*.bam.bai
results/*.sam
*.sra
*.fastq
Miniconda3*.sh
ref/*.fna
ref/*.fna.gz
ref/*.amb
ref/*.ann
ref/*.bwt
ref/*.pac
ref/*.sa
ref/*.fai
results_300k/
raw_data_300k/
qc_300k/
trimmed_data_300k/
